<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deine Gruppen</title>
</head>
<body>
<div id="continer">
<h1>Willkommen <span th:text="${nutzername}">Nutzer</span></h1>

<form method="post" th:action="@{/alleGruppen}">
  <label for="textid">Neue Gruppe erstellen:</label>
  <input id="textid" type="text" th:name="neueGruppe">
  <button type="submit">Erstellen</button>
</form>

<!--<ul>
  <li th:each="gruppenName : ${gruppenNamen}">
    <span th:text="${gruppenName}">Gruppen Name</span>
  </li>
</ul> -->
</div>
</body>
</html>