<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Deine Gruppen</title>
  <link rel="stylesheet" href="../static/alleGruppen.css">
</head>
<body>
<div id="continer">

<h1>Willkommen <span th:text="${nutzername}">Nutzer</span></h1>

<form method="post" th:action="@{/alleGruppen}">
  <label for="textid">Neue Gruppe erstellen:</label>
  <input id="textid" type="text" th:name="neueGruppe">
  <button type="submit">Erstellen</button>
</form>

  <h2>Offene Gruppen</h2>
<ul>
  <li th:each="gruppe : ${offeneNutzerGruppen}">
    <form method="get" th:action="@{/gruppe}">
      <input  type="hidden" th:value="${gruppe.getKey()}" th:name="gruppenid" >
      <button type="submit" class="listbutton" th:text="${gruppe.getValue()}">Gruppenname</button>
    </form>
  </li>
</ul>

  <h2>Geschlossene Gruppen</h2>
  <ul>
    <li th:each="gruppe : ${geschlosseneNutzerGruppen}">
      <form method="get" th:action="@{/gruppe}">
        <input  type="hidden" th:value="${gruppe.getKey()}" th:name="gruppenid" >
        <button type="submit" class="listbutton" th:text="${gruppe.getValue()}" >Gruppenname</button>
      </form>
    </li>
  </ul>

</div>
</body>
</html>