<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Notwendige Transaktionen</title>
</head>
<body>
<h1 th:text="${gruppenName}">Gruppenname</h1>
<table>
  <tr>
    <th>Schuldner</th>
    <th>Notwendige Transaktion zum Ausgleich</th>
  </tr>
  <tr th:each="schuldner : ${notwendigeTransaktionen}" >
    <td th:text="${schuldner.getKey()}" >Schuldner</td>
    <td >
      <ul>
        <li th:each="schuldner : ${schuldner.getValue()}">
          <span th:text="${schuldner.getKey()}">Schuldner</span>
          <span th:text="${(#numbers.formatDecimal(schuldner.getValue(), 1, 'POINT', 2, 'COMMA')) + '€'}">Beträge</span>
        </li>
      </ul>
    </td>
  </tr>
</table>

<form method="get" th:action="@{/gruppe/auswahl}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Zurück zur Gruppe</button>
</form>

</body>
</html>