<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${gruppenName}"> Gruppe</title>
</head>
<body>

<h1 th:text="${gruppenName}"> Gruppe</h1>



<h2>Teilnehmer</h2>
<form method="post" th:action="@{/gruppe/neuerNutzer}" th:if="${ !hasTransaktionen && !geschlossen}">
  <label for="textid">Neuen Nutzer hinzufuegen:</label>
  <input id="textid" type="text" th:name="neuerNutzer">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Hinzufügen</button>
</form>

<ul>
  <li th:each="nutzer : ${gruppeNutzer}">
    <span th:text="${nutzer}">Nutzername</span>
  </li>
</ul>

<h2 th:if="${hasMultipleNutzer}">Transaktionen</h2>

<form method="get" th:action="@{/gruppe/addTransaktion}" th:if="${!geschlossen && hasMultipleNutzer}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Transaktion hinzufügen</button>
</form>

<table  th:if="${hasTransaktionen}">
  <tr >
     <th >Sponsor</th>
    <th > Betrag</th>
    <th > Schuldner</th>
    <th > Grund</th>
  </tr>
  <tr th:each="transaktion : ${gruppeTransaktionen}" >
    <td th:text="${transaktion.sponsor}" >Sponsor</td>
    <td th:text="${transaktion.betrag}">Betrag</td>
    <td>
      <ul >
        <li th:each="beggar : ${transaktion.bettler}">
          <span th:text="${beggar}">Schuldner</span>
        </li>
      </ul>
    </td>
    <td th:text="${transaktion.grund}">Grund</td>
  </tr>
</table>

<form method="post" th:action="@{/gruppe/close}" th:if="${!geschlossen}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Gruppe schließen</button>
</form>
<form method="post" th:action="@{/gruppe/notwendigeTransaktionen}" th:if="${hasTransaktionen}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">notwendige Transaktionen</button>
</form>


<a href="/alleGruppen" th:href="@{/alleGruppen}">zurück zur Gruppenubersicht</a>

</body>
</html>