<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title th:text="${gruppenName}"> Gruppe</title>
</head>
<body>

<h1 th:text="${gruppenName}"> Gruppe</h1>



<h2>Teilnehmer</h2>
<form method="post" th:action="@{/gruppe/neuerNutzer}" th:if="${ !hasTransaktionen && !geschlossen}">
  <label for="textid">Neuen Nutzer hinzufuegen:</label>
  <input id="textid" type="text" th:name="neuerNutzer">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Hinzufügen</button>
</form>

<ul>
  <li th:each="nutzer : ${gruppeNutzer}">
    <span th:text="${nutzer}">Nutzername</span>
  </li>
</ul>

<h2>Transaktionen</h2>

<form method="get" th:action="@{/gruppe/addTransaktion}" th:if="${!geschlossen}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Transaktion hinzufügen</button>
</form>

<table  th:if="${hasTransaktionen}">
  <tr >
     <th >Sponsor</th>
    <th > Betrag</th>
    <th > Schuldner</th>
  </tr>
  <tr th:each="transaktion : ${transaktionen}" >
    <td ></td>
    <td ></td>
    <td ></td>
  </tr>
</table>
<form method="post" th:action="@{/gruppe/close}" th:if="${!geschlossen}">
  <input  type="hidden" th:value="${gruppenid}" th:name="gruppenid" >
  <button type="submit" class="listbutton">Gruppe schließen</button>
</form>

<a href="/alleGruppen" th:href="@{/alleGruppen}">zurück zur Gruppenubersicht</a>

</body>
</html>